include ../../blocks/icon/icons

mixin header()
  +b.HEADER.header&attributes(attributes)
    +e.A.logo(href="http://verstaburo.com" target="_blank")
      +icon('logo')
    +e.A.link(href="http://verstaburo.com" target="_blank") Visit bureau
