mixin testzone(text, style, weight)
  - var sizes = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 35, 40, 45, 50, 60]
  +b.testzone&attributes(attributes)
    block
    each size in sizes
      +e.P.text(style="font-size: " + size + "px")
        +e.SPAN.size= size + "px"
        +e.SPAN.textblock= text
